$contentWidth: 1440px;
$mobileBreakpoint: '<lg';

body {
  background: #ffffff;
}

hr {
  border: 0;
  height: 1px;
  background: var(--black300);
  &.black {
    background: var(--black);
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  .content {
    width: 100%;
    max-width: $contentWidth;
    padding: 2.5rem;
    @include media('<lg') {
      padding: 2.5rem 1.5rem;
    }
  }
}

table {
  border-collapse: collapse;
}
table th,
table td {
  padding: calc(var(--inline-spacing) / 4);
}
table tr:nth-child(odd) {
  background-color: var(--black-50);
}
table tr:first-child {
  border-bottom: solid 1px var(--black);
  background-color: var(--lightsoybean-500);
  font-weight: bold;
  text-transform: uppercase;
}
table tr:last-child:not(.totalline){
  border-bottom: solid 1px var(--black);
}
table tr.totalline {
  background-color: var(--white);
  border-bottom: solid 1px var(--lightsoybean-500);
  border-top: solid 1px var(--black);
  font-weight: bold;
  text-transform: uppercase;
}

.p-scrolltop {
  box-shadow: none;
  width: 68px;
  height: 68px;
  @include media('<lg') {
    width: 45px;
    height: 45px;
  }
  &.p-link {
    background: var(--black);
  }
  .p-scrolltop-icon {
    font-size: 1.3rem;
    @include media('<lg') {
      font-size: 1rem;
    }
  }
}

/* below will eventually go in the theme extentions.scss*/
.v-share-tools {
  a {
    width: 16px;
    height: 16px;
    &:hover {
      svg path,
      svg circle {
        fill: var(--link-hover-color) !important;
      }
    }
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

[data-style-mode='dark'] {
  hr {
    background: var(--black200);
  }
  a:hover,
  a.flexible-link:hover {
    svg path {
      fill: var(--soybean) !important;
    }
  }

  .v-share-tools {
    a:hover {
      svg path,
      svg circle {
        fill: var(--soybean) !important;
      }
    }
  }
}

.sectionSlug-articleSlug a {
  &:hover {
    background-color: var(--text-color);
    color: var(--white);
  }
}

.streamfield-paragraph h2,
.streamfield-paragraph h3,
.streamfield-paragraph h4,
.streamfield-paragraph h5,
.streamfield-paragraph h6 {
  margin-bottom: calc(var(--inline-spacing)/3);
}
