$contentWidth: 1440px;
$mobileBreakpoint: '<lg';

@import './gutters.scss';
@import './gap.scss';

body {
  background: #ffffff;
  height: 100vh;
}

hr {
  border: 0;
  height: 1px;
  background: var(--black300);
  &.black {
    background: var(--black);
  }
}

.button-pill-icon {
  .pi {
    &:before {
      border: 1px solid var(--black);
      border-radius: 10px;
      padding: 4px 8px;
      font-size: 10px;
      font-weight: bold;
      display: flex;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  .content {
    width: 100%;
    max-width: $contentWidth;
    padding: 2.5rem;
    @include media('<lg') {
      padding: 2.5rem 1.5rem;
    }
  }
}

table {
  border-collapse: collapse;
  font-family: var(--font-family-header);
}
table th,
table td {
  padding: calc(var(--inline-spacing) / 4);
}
table tr:nth-child(odd) {
  background-color: var(--black-50);
}
table tr:first-child {
  border-bottom: solid 1px var(--black);
  background-color: var(--soybean200);
  font-weight: bold;
  text-transform: uppercase;
}
table tr:last-child:not(.totalline) {
  border-bottom: solid 1px var(--black);
}
table tr.totalline {
  background-color: var(--white);
  border-bottom: solid 1px var(--soybean200);
  border-top: solid 1px var(--black);
  font-weight: bold;
  text-transform: uppercase;
}

.p-scrolltop {
  box-shadow: none;
  width: 68px;
  height: 68px;
  @include media('<lg') {
    width: 45px;
    height: 45px;
  }
  &.p-link {
    background: var(--black);
  }
  .p-scrolltop-icon {
    font-size: 1.3rem;
    @include media('<lg') {
      font-size: 1rem;
    }
  }
}

/* below will eventually go in the theme extentions.scss*/
.no-underline {
  text-decoration: none;
}

.image-with-caption {
  .image-with-caption-image {
    .image-with-caption-caption {
      p {
        @include font-config($type-paragraph3);
        padding-right: 40px;
        color: #ffffff;
      }
    }
  }
  .image-with-caption-icons .p-button {
    border-radius: 50%;
  }
}

.v-share-tools {
  .label {
    @include font-config($type-caption);
  }
  a,
  button {
    width: 16px;
    height: 16px;
    &:hover {
      svg path,
      svg circle {
        fill: var(--link-hover-color) !important;
      }
    }
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

[data-style-mode='dark'] {
  hr {
    background: var(--black200);
  }
  a:hover,
  a.flexible-link:hover {
    svg path {
      fill: var(--soybean) !important;
    }
  }

  .v-share-tools {
    a:hover {
      svg path,
      svg circle {
        fill: var(--soybean) !important;
      }
    }
  }
}
.sectionSlug-articleSlug a {
  font-weight: normal;
}

.sectionSlug-articleSlug a:not(.image-with-caption-credit-link) {
  &:hover {
    // background-color: var(--text-color);
    // color: var(--white);
  }
}

.streamfield-paragraph h2,
.streamfield-paragraph h3,
.streamfield-paragraph h4,
.streamfield-paragraph h5,
.streamfield-paragraph h6 {
  margin-bottom: calc(var(--inline-spacing) / 3);
}

.footer.image-with-caption-credit-link,
.footer.image-with-caption-description,
.image-with-caption .footer {
  font-family: var(--font-family-header);
}

ol ol li {
  list-style: lower-latin;
  &::marker {
    text-transform: uppercase;
  }
}

// to go is DS extentions
